<!DOCTYPE html>
<html>
<head>
  <title>Vinyl</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>
  <div class='top-nav'>
    <h1>Vinyl</h1>
    <a href='/signin'>Sign In</a>
    <a href='/signup'>Sign Up</a>
  </div>

  <div class='image-container'>
    <img src='images/vinyl-bg.jpg'>
  </div>

  <h2>Records</h2>

  <div class="album-list">
    <% albums.forEach(function(album) { %>
      <div>
        <h5><a href="/albums/<%= album.id %>"><%= album.title %></a></h5>
        <span><%= album.artist %></span>
      </div>
    <% }) %>
  </div>

</body>
</html>
