<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>
  <% include header.ejs %>
  <h1><%= name %></h1>
  <div class='user-info'>
    <p>email: <%= email %></p>
    <p>join date: <%= joined %></p>
  </div>
  <div class='reviews-container'>
    <% include reviews.ejs %>
  </div>
</body>
</html>
