<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>
  <% include header.ejs %>
  <h1>Welcome <%= name %></h1>
  <div class='user-info'>
    <div>email: <%= email %></div>
    <div>join date: <%= joined %></div>
  </div>
</body>
</html>
