<!DOCTYPE html>
<html>
<head>
  <title>Sign In</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>
  <% include header.ejs %>
  <h1>Sign In</h1>
  <form action="/login" method="post">
    <input placeholder="email" name="email" required>
    <input placeholder="password" name="password" required>
    <button type="submit">Log In</button>
  </form>>
</body>
</html>
