<!DOCTYPE html>
<html>
<head>
  <title>Vinyl</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>
  <h1>Log in to your account</h1>
  <form action="/login" method="post">
    <input placeholder="email" name="email">
    <input placeholder="password" name="password">
    <button type="submit">Log In</button>
  </form>>
</body>
</html>
